<footer class="bg-gray-950 p-10">
  <div class="text-center mb-10">
    <p class="text-white font-bold text-3xl">Powered by</p>
  </div>
  <div class="grid grid-cols-2">
    <div class="text-center flex flex-col justify-center items-center">
      <p class="text-white font-semibold text-xl"><a href="https://es.locationiq.com/"
          title="Free Weather API">LocationIQ.com</a></p>
      <div class="w-1/3">
        <a class="inline-block" href="https://es.locationiq.com/" title="Free Location API"><img
            src='../../../assets/logos/locationiq.webp' alt="coordinates data by LocationIQ.com" border="0"></a>
      </div>
    </div>
    <div class="text-center flex flex-col justify-center items-center">
      <p class="text-white font-semibold text-xl mb-5"><a href="https://www.weatherapi.com/"
          title="Free Weather API">WeatherAPI.com</a></p>
      <div class="w-1/3">
        <a class="inline-block" href="https://www.weatherapi.com/" title="Free Weather API"><img
            src='../../../assets/logos/weatherAPI.png' alt="Weather data by WeatherAPI.com" border="0"></a>
      </div>
    </div>
  </div>
</footer>